.image-casting{
    margin-left: auto;
    margin-right: auto;
}

.image-casting img{
    border-radius: 40px;
    width: 700px;
    position: relative;
    top:20px;
}

.content-card{
    position: relative;
    top:120px;
    border-radius: 40px;
}

.contenido{
    position: relative;
    top:70px;
}

article{
    position: relative;
    top:-40px;
}

p{
    font-size: 1.2rem;
}

@media (max-width:1500px) {
   
    .card{
    position: relative;
    left:1px;
   }
   
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 600px;
        position: relative;
        left:40px;
        top:40px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        text-align: left;
        top:-90px;
        left:-50px;
    }
}

@media (max-width:1300px) {
   
    .card{
    position: relative;
    left:1px;
   }
   
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 490px;
        position: relative;
        left:50px;
        top:100px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        text-align: left;
        top:-90px;
        left:-50px;
    }
}

@media (max-width:1200px) {
   
    .card{
    position: relative;
    left:1px;
   }
   
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 470px;
        position: relative;
        left:0px;
        top:100px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        text-align: left;
        top:-90px;
        left:-50px;
    }
}

@media (max-width:1000px) {
   
    .card{
    position: relative;
    left:1px;
   }
   
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 470px;
        position: relative;
        left:0px;
        top:100px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        text-align: left;
        top:-90px;
        left:-50px;
    }
}

 @media (max-width:900px) {
   
    .card{
    position: relative;
    left:1px;
   }
   
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 400px;
        position: relative;
        left:60px;
        top:-30px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        left:120px;
    }
}

 @media (max-width:800px) {
   
    .card{
    position: relative;
    left:1px;
   }
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 400px;
        position: relative;
        left:0px;
        top:-120px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        left:90px;
    }
}

 @media (max-width:700px) {
   
    .card{
    position: relative;
    left:1px;
   }
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 400px;
        position: relative;
        left:-30px;
        top:-120px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        left:60px;
    }
}

 @media (max-width:600px) {
   
    .card{
    position: relative;
    left:1px;
   }
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 400px;
        position: relative;
        left:-50px;
        top:-120px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        left:60px;
    }
}

@media (max-width:500px) {
   
    .card{
    position: relative;
    left:1px;
   }
   .image-casting{
    position: relative;
    left:10px;
   }

   .image-casting img{
        border-radius: 40px;
        width: 400px;
        position: relative;
        left:-100px;
        top:-120px;
    }   

    h4{
        position: relative;
        right: 90px;
        top:-90px;
    }

    article{
        width:100%;
        position: relative;
        left:60px;
    }
}

@media (max-width:375px) {
    .card{
     position: relative;
     left:2px;
    }
    .image-casting img{
     position: relative;
     left:-10px;
     width: 200px;
     height: 200px;
     z-index: 9;
    }
 }

@media (max-width:320px) {
    .card{
     position: relative;
     left:1px;
    }
    .image-casting img{
     position: relative;
     left:-10px;
     width: 200px;
     height: 200px;
     z-index: 9;
    }
}