.image-casting{
    position: relative;
    text-align: center !important;
}

@media (max-width:1024px) {
    .card{
     position: relative;
     left:1px;
    }
    .image-casting{
     position: relative;
     left:10px;
    }
 }


@media (max-width:768px) {
    .card{
     position: relative;
     left:1px;
    }
    .image-casting{
     position: relative;
     left:10px;
    }
 }

@media (max-width:500px) {
   .card{
    position: relative;
    left:1px;
   }
   .image-casting{
    position: relative;
    left:10px;
   }
}

@media (max-width:375px) {
    .card{
     position: relative;
     left:2px;
    }
    .image-casting img{
     position: relative;
     left:-10px;
     width: 200px;
     height: 200px;
     z-index: 9;
    }
 }

@media (max-width:320px) {
    .card{
     position: relative;
     left:1px;
    }
    .image-casting img{
     position: relative;
     left:-10px;
     width: 200px;
     height: 200px;
     z-index: 9;
    }
 }