/*====== MEDIA QUERIES =======*/

@media(max-width:1024px){
    .text-about{
        position: relative;
        left:0px;
    }
    .title-service{
        position: relative;
        left:20px;
    }

    .title-projects{
        position: relative;
        left:10px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:-90px;
        top:20px;
        width: 410px;
        height: 320px;
    }

    .image-service{
        position: relative;
        left:-40px;
    }

    .card{
        position: relative;
        left:30px;
        padding-top: 1.5rem;
        width: 10rem;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    .text-about{
        text-align: left;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

    p{
        text-align: center;
    }

}

@media(max-width:994px){
    .title-projects{
        position: relative;
        left:40px;
    }
    .title-about{
        position: relative;
        left:0px;
    }
    .text-about{
        position: relative;
        left:60px;
        font-size: 50px;
  
    }

    .title-service{
        position: relative;
        left:20px;
    }

    .titulo-proyectos{
        position: relative;
        left:40px;
    }

    .titulo-servicios{
        position: relative;
        left:40px;
    }

    .links-footer{
        text-align: center;
        padding-top:30px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:20px;
        top:20px;
        width: 500px;
        height: 400px;
    }

    .image-service{
        position: relative;
        left:-5px;
    }

    .card{
        position: relative;
        left:-200px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

   
}

@media(max-width:912px){
    .title-projects{
        position: relative;
        left:40px;
    }
    .title-about{
        position: relative;
        left:0px;
    }
    .text-about{
        position: relative;
        left:60px;
        font-size: 50px;
  
    }

    .title-service{
        position: relative;
        left:20px;
    }

    .titulo-proyectos{
        position: relative;
        left:40px;
    }

    .titulo-servicios{
        position: relative;
        left:40px;
    }

    .links-footer{
        text-align: center;
        padding-top:30px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:20px;
        top:20px;
        width: 500px;
        height: 400px;
    }

    .image-service{
        position: relative;
        left:-5px;
    }

    .card{
        position: relative;
        left:-200px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

   
}

@media(max-width:820px){
    .title-projects{
        position: relative;
        left:40px;
    }
    .title-about{
        position: relative;
        left:0px;
    }
    .text-about{
        position: relative;
        left:60px;
        font-size: 50px;
  
    }

    .title-service{
        position: relative;
        left:20px;
    }

    .titulo-proyectos{
        position: relative;
        left:40px;
    }

    .titulo-servicios{
        position: relative;
        left:40px;
    }

    .links-footer{
        text-align: center;
        padding-top:30px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:20px;
        top:20px;
        width: 500px;
        height: 400px;
    }

    .image-service{
        position: relative;
        left:-5px;
    }

    .card{
        position: relative;
        left:-200px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

   
}

@media(max-width:768px){
    
    .title-projects{
        position: relative;
        left:40px;
    }

    .title-about{
        position: relative;
        left:10px;
    }

    .text-about{
        position: relative;
        left:10px;
        font-size: 50px;
    }

    .title-service{
        position: relative;
        left:20px;
    }

    .titulo-proyectos{
        position: relative;
        left:40px;
    }

    .titulo-servicios{
        position: relative;
        left:40px;
    }

    .links-footer{
        text-align: center;
        padding-top:30px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:150px;
        top:20px;
        width: 500px;
        height: 400px;
    }

    .image-service{
        position: relative;
        left:-5px;
    }

    .card{
        position: relative;
        left:70px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

}

@media (max-width:540px){

    .title-projects{
        position: relative;
        left:40px;
    }
    .title-about{
        position: relative;
        left:0px;
    }
    .text-about{
        position: relative;
        left:10px;
    }
    .title-service{
        position: relative;
        left:20px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:-10px;
        top:20px;
        width: 500px;
        height: 400px;
    }

    .image-service{
        position: relative;
        left:16px;
    }

    .links-footer{
        text-align: center;
        padding-top:30px;
    }

    .card{
        position: relative;
        left:18px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
    
}

@media (max-width:500px){

    .title-projects{
        position: relative;
        left:40px;
    }
    .title-about{
        position: relative;
        left:0px;
    }
    .text-about{
        position: relative;
        left:10px;
    }
    .title-service{
        position: relative;
        left:20px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:-10px;
        top:20px;
        width: 500px;
        height: 400px;
    }

    .image-service{
        position: relative;
        left:16px;
    }

    .links-footer{
        text-align: center;
        padding-top:30px;
    }

    .card{
        position: relative;
        left:18px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
    
}

@media (max-width:425px){

    .links-footer{
        text-align: center;
        padding-top:30px;
    }

    .text-about{
        position: relative;
        left:0px;
    }
    .title-service{
        position: relative;
        left:20px;
    }

    .title-projects{
        position: relative;
        left:10px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:-10px;
        top:20px;
        width: 420px;
        height: 340px;
    }

    .image-service{
        position: relative;
        left:-40px;
    }

    .card{
        position: relative;
        left:-20px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
    
}

@media (max-width:390px){

    .links-footer{
        text-align: center;
        padding-top:30px;
    }

    .text-about{
        position: relative;
        left:0px;
    }
    .title-service{
        position: relative;
        left:20px;
    }

    .title-projects{
        position: relative;
        left:10px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:-10px;
        top:20px;
        width: 420px;
        height: 340px;
    }

    .image-service{
        position: relative;
        left:-40px;
    }

    .card{
        position: relative;
        left:-40px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
    
}



@media (max-width:375px){
    
    .text-about{
        position: relative;
        left:0px;
    }
    .title-service{
        position: relative;
        left:20px;
    }

    .title-projects{
        position: relative;
        left:10px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:27px;
        top:20px;
        width: 350px;
        height: 260px;
    }

    .image-service{
        position: relative;
        left:-20px;
    }

    .card{
        position: relative;
        left:-50px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
}

@media (max-width:320px){
    .text-about{
        position: relative;
        left:0px;
    }
    .title-service{
        position: relative;
        left:20px;
    }

    .title-projects{
        position: relative;
        left:10px;
    }
  
   .lead{
        position: relative;
        left:15px;
    }

    .vc-image img{
        position: relative;
        left:3px;
        top:20px;
        width: 300px;
        height: 240px;
    }

    .image-service{
        position: relative;
        left:-40px;
    }

    .card{
        position: relative;
        left:-80px;
    }

    .content{
        position: relative;
    }

    .card-img-top{
        position: relative;
    }

    .video-reel1{
        position: relative;
        left:35px;
    }

    .video-reel2{
        position: relative;
        left:35px;
    }

    .video-reel3{
        position: relative;
        left:35px;
    }

    .service{
        position: relative;
        left:-40px;
    }

    .text-services{
        position: relative;
        left:-20px;
    }

    h1{
        text-align: center;
    }

    h2,h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
    
}