
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: sans-serif;
    border: none !important;
    border-style: none !important;
}

html{
    font-family: 'Poppins', sans-serif !important;
}

h1{
    font-family: 'Poppins', sans-serif !important;
}

h2{
    color:#52397D !important;
    font-weight: bolder !important;
    font-family: 'Poppins', sans-serif !important;
}

p{
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
}

a{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200 !important;
}


body{
    overflow-x: hidden !important;
    box-sizing: border-box;
    background-color: #F6F0FF !important;
    position: relative;
    margin:0px !important;
    padding: 0px !important; 
    width: 100%;
    height: 100%;
}

li{
    list-style: none !important;
}


.header-text{
    position: relative;
    top:-460px;
    font-family: 'Poppins', sans-serif !important;
}

.carrousel1{
    background-image: url('./../img/carrousel1.png');
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

/* ===== CARROUSEL ====== */

.carrousel-title{
    font-size: 48px;
    color : #fff !important;
    font-family: 'Poppins', sans-serif !important;
}

.carrousel-subtitle{
    font-size:32px;
    position: relative;
    left:5px;
    font-family: 'Poppins', sans-serif !important;
    top:-10px;
}

.carousel img{
    height: 100vh;
}

.carousel-caption{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    position: relative;
    top:400px;
}

/* SERVICES */ 

.services{
    background:url('./../img/background-services.svg');
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 2000px !important;
}


.title-services{
    position: relative;
    top:40px;

}

.title-card-services{
    position: relative;
    right:20px;
}

.title-service2{
    position: relative;
    left:40px;
}

.text-service2{
    position: relative;

}

.lead{
    text-align: left !important;
}

.container{
    overflow: scroll;
    position: relative;
}

a{
    color: #2F2F2F !important;
    text-decoration: none !important;
}

a:hover{
    color: #98822C !important;
}


.carousel-image{
     object-fit: contain;
}

.carousel-caption{
    /* text-shadow: 4px 4px 4px rgb(6, 6, 6); */
    font-weight: bolder !important;
}



/* ===== FOOTER ======== */

.footer{
    height: auto;
    padding-top:2rem;
    padding-bottom:2rem;
    background-color:#EDE0FF !important;
  
    color:#52397D;
    position: relative;
    top:48px;
}

.footer li{
    list-style: none;
}

.footer a{
    text-decoration: none ;
    color:#52397D !important;
}

.footer p{
    font-size:1.2em;
    font-family: 'Poppins', sans-serif;
    padding:10px;
}

.footer-copy{
    background-color: #52397D !important;
    height: 68px;
    color:#FFF !important;
}
.footer-copy p{
    position: relative;
    top:24px;
}

/* ===== NAV ====== */

.active{
    color: #7957b5 !important;
    font-weight: 400 !important;
}

.navbar{
    background-color: #F6F0FF !important;
    box-shadow: 5px 5px 5px rgb(180, 180, 180); 
    z-index: 999;

}

.navbar a{
    color: #52397D !important;
    font-weight: 100 ;
    font-size: 16px !important ;
}

.nav{
    font-weight: lighter;
}

.nav-right li{
    margin-left:15px;
}

.nav-right-setting{
    position: relative;
    right:30px;
}

.logo{
    position: relative;
}

/* ====== ABOUT =======  */

.about{
    height: auto;
    padding-bottom: 30px;
    padding-top:5rem;
}


.title-about{
    font-family: 'Open Sans', sans-serif;
    color: #52397D !important;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    padding-bottom:30px;
    position: relative;
    left:0px;
}

.text-about{
    font-size: 16px;
}

.content{
    position: relative;
    top:40px;
}




.text-services{
    color:rgb(71, 71, 71); 
}

.services{
    height: auto;
    padding-bottom: 10px;
    font-weight: 700;
}



/* ===== CONTACT  ====== */

.contacto{
    background-color: #56413e;
    height: 1200px !important;
}

.button-submit{
    border-radius: 20px;
    width: 198px;
    height: 59px;
    border:none !important;
    background-color:#98822C ;
    color:#fff;
    float: right;
}

.form-control{
    border-radius:20px !important;
    padding: 10px;
}

.input[type="textarea"]{
    overflow: hidden !important;
}

::placeholder{
    position: relative;
    left:20px;
} 

/*************************/
/* ====== ICONOS ====== */

#gmail-icon{
    position: relative;
    top:-1px;
}



.text-action{
    font-size: 1.8rem;
    text-decoration: none;
    color: #902a66;
}

.card{
    margin-left:0rem;
    background: transparent !important;
    padding: 1rem;
    border-radius: 20px !important;
    border: none !important;
    text-align:center;
    margin-top:1.5rem !important;
    width: 20rem !important;
}

.card-title{
    color: #52397D !important;
    font-weight: bolder !important;
}

.card-text{
    font-size: 16px !important;
    font-weight: 400 !important;
}


.btn{
    color:#fff !important;
    background-color: #52397D !important;
    border-radius: 32px !important;
    border: none !important;
}


/**** ==================== *****/
/**** EFECTO SCROLL **/

::-webkit-scrollbar {
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #ffa590 ;
    border-radius: 4px;
}