@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap');
@import url('./mediaqueries.css');

body{
    background-color: #F6F6F6 !important;
    overflow-x: hidden;
    position: relative;
    margin:0px !important;
    padding: 0px !important; 
    width: 100%;
    height: 100%;
}

.nav-scrollspy .active{
    color: #ec6fb8 !important;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

a{
    color: #56413e !important;
    text-decoration: none !important;
}

a:hover{
    color: #ffa590 !important;
}

.text-caption{
    text-shadow: 4px 4px 4px rgb(6, 6, 6);
}
/* ===== FOOTER ======== */

.footer{
    height: auto;
    background-color: #8785A2!important;
    box-shadow: 4px 4px 4px 4px rgba(219, 219, 219, 0.328) ;
    color:#fff;
}

.footer li{
    list-style: none;
}

.footer a{
    text-decoration: none ;
    color:#fff !important;
}

.footer p{
    font-size:1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding:10px;
}

/* ===== NAV ====== */

.navbar{
    background-color: #F6F6F6 !important;
    box-shadow:  5px 5px 5px rgb(180, 180, 180); 
    z-index: 999;
}

.nav{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;

}

.nav .active{
    color: #FF2DA6 !important;
}

.nav-right li{
    margin-left:15px;
}

.nav-right-setting{
    position: relative;
    right:30px;
}

.logo{
    position: relative;
}

/* ====== ABOUT =======  */

.about{
    height: auto;
    padding-bottom: 30px;
    padding-top:5rem;
}

.title{
    font-family: 'Saira Condensed', sans-serif;
    color: #FF2DA6 !important;
    font-weight: bold;
    font-size: 36px;
    height: 90px;
}

.title-about{
    font-family: 'Saira Condensed', sans-serif;
    color: #56413e !important;
    font-weight: 200;

    font-size: 3rem;
    text-align: center;
    padding-bottom:30px;
}

.text-about{
    font-size: 1.3rem;
}

.content{
    position: relative;
    top:40px;
}

/* ===== CARROUSEL ====== */

.carousel img{
    height: 100vh;
}

.carousel-caption{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3rem;
}

/* ===== PROJECTS ====== */

.reels{
    background-color: #e5cbb4;
    padding:0rem;
}

.projects{
    height: auto;
    padding-bottom: 20%;
    padding: 50px;
}

 .video-reel1{
    height: 200px;
    position: relative;
    left:60px;
    top:-20px;
    border-radius:30px !important;
    background-image: url('./../img/abuelo-com.png');
    background-repeat: no-repeat;
    /* -webkit-box-shadow: -1px 1px 15px -3px #535353; 
    box-shadow: -1px 1px 15px -3px #535353;  */
}

.video-reel2{
    height: 200px;
    position: relative;
    left:60px;
    border-radius:30px !important;
    background-image: url('./../img/personas.png');
    background-repeat: no-repeat;
    /* -webkit-box-shadow: -1px 1px 15px -3px #535353; 
    box-shadow: -1px 1px 15px -3px #535353; */
}

.video-reel3{
    height: 200px;
    position: relative;
    left:50px;
    border-radius:30px !important;
    background-image: url('./../img/gato-nadki.png');
    background-repeat: no-repeat;
    /* -webkit-box-shadow: -1px 1px 15px -3px #535353; 
    box-shadow: -1px 1px 15px -3px #535353; */
}

.video-reel1:hover {
    /* -webkit-box-shadow: -1px 2px 15px 5px #B6B6B6; 
    box-shadow: -1px 2px 15px 5px #B6B6B6; */
    cursor: pointer;
}

.video-reel2:hover {
    /* -webkit-box-shadow: -1px 2px 15px 5px #B6B6B6; 
    box-shadow: -1px 2px 15px 5px #B6B6B6; */
    cursor: pointer;

}

.video-reel3:hover {
    /* -webkit-box-shadow: -1px 2px 15px 5px #B6B6B6; 
    box-shadow: -1px 2px 15px 5px #B6B6B6; */
    cursor: pointer;
}

.article{
    margin-left:160px;
    border-radius:30px;
}

.title-projects{
    font-family: 'Saira Condensed', sans-serif;
    color: #56413e !important;
    font-weight: 200;
    position: relative;
    right:60px !important;
    font-size: 3rem;
    text-align: center;
    padding-bottom:30px;
}

/* ===== SERVICES ====== */

.text{
    text-align: center;
}

.text-services{
    color:rgb(71, 71, 71); 
    font-family: 'Saira Condensed', sans-serif;
}

.services{
    height: auto;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.contact{
    height: auto;
    padding-bottom:30px;
    background-color: #F6F6F6;
}

.title-reels{
    font-weight: 200;
    font-size: 3rem;    
    color: #FF2DA6 !important;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
}

.title-services{
    font-weight: 200;
    font-size: 3rem;    
    color: #FF2DA6 !important;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
}

/* ===== CONTACT  ====== */

.button-submit{
    border-radius: 20px;
    width: 198px;
    height: 59px;
    border:none !important;
    background-color:#9180F8;
    color:#fff;
    float: right;
}

.form-control{
    border-radius:20px !important;
    padding: 10px;
}

.input[type="textarea"]{
    overflow: hidden !important;
}

::placeholder{
    position: relative;
    left:20px;
}

/* ===== FOOTER   ====== */

/*************************/
/* ====== ICONOS ====== */

#gmail-icon{
    position: relative;
    top:-1px;
}

/* ====== ICONOS ====== */

.container::-webkit-scrollbar {
    width: 8px;     /* TamaÃ±o del scroll en vertical */
    height: 8px;    /* TamaÃ±o del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

/* Cambiamos el fondo y agregamos una sombra cuando esta en hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #eb0404;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando estÃ© en active */
.container::-webkit-scrollbar-thumb:active {
    background-color: #f80c0c;
}

/* ===== media queries ==== */

.title-action{
    color: #FF2DA6;
    font-size: 3rem;
    font-family: 'Saira Condensed', sans-serif;

}

.text-action{
    font-size: 1.8rem;
    font-family: 'Saira Condensed', sans-serif;
    text-decoration: none;
    color: #902a66;
}


.card{
    margin-left:5rem;
    background: transparent !important;
    border: none !important;
    text-align:center;
}

.btn{
    color:#fff !important;
    background-color: #ec6fb8 !important;
    border: none !important;
}

.btn:hover{
    color:rgb(27, 18, 37) !important;
}

.title-vc{
    position: relative;
    top:40px;
}

.card{
    background-color: white;
}

.content-card{
    background-color: #fff !important;
}

.image{
    width: 250px !important;
}

*{margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}
    
    .contenedor{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .contenedor figure{
       position:relative;
        height: auto;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 8px;
        /* box-shadow: 0px 15px 25px rgba(0,0,0,0.50); */
    }
    .contenedor figure img{
        width: 100%;
        height: 100%;
        position:relative;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenedor figure .capa{
        position: absolute;
        top: -20px;
        width: 100%;
        border-radius: 8px;
        height: 120%;
        background: rgba(102, 73, 102, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .contenedor figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    
    }
    .contenedor figure:hover > .capa h3{
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .contenedor figure:hover > img{
        transform: scale(1.3);
    }
    .contenedor figure .capa h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .contenedor figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }
    button{
        color: #fff;
        background-color: transparent;
        border-radius: 3px;
        border-style: solid;
        border-color: #eab6d4;
    }