
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color: #F6F0FF !important ;
    position: relative;
    margin:0;
    padding: 0; 
    font-family: 'Poppins', sans-serif ;
    overflow-x: hidden !important;
}


li{
    list-style: none !important;
}

.navbar{
    background: #F6F0FF !important;
}

.header-text{
    position: relative;
    top:-460px;
    font-family: 'Poppins', sans-serif !important;
}

.carousel1{
    background-image: url('./../img/carousel1.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
  
    background-position:initial;
    background-repeat: no-repeat;
}

.carousel-caption{
    position: relative;
    top:310px;
}

.card{
    border-style: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}